 body{
    background-color: rgb(85, 85, 252);
    margin: 0;
    font-family:'Franklin Gothic Medium';
}
main{
    background-color: lightgray;
    width: 80%;
    height: 550px;
    text-align: center;
    margin:auto;
    margin-top: 20px;
    padding:5%;
    padding-top: 15px;
    padding-bottom: 10%;
    border: 2px solid grey;
}
form{
    margin-top:150px;
}
header{
    width: 70%;
    background-color: white;
    height: 60px;
    border: none;
    float: left;
}
h1{
    color:rgb(85, 85, 252);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 3px;
    font-size: 40px;
}
nav{
    padding-top: 5px;
    width:100%;
    height: 50px;
    background-color: lightgray;
    text-align: center;
    font-size: 30px;
    clear: both;
}
a{
    margin-left: 30px;
    text-decoration: none;
    color:black;
}
#nav{
    width: 70%;
    margin: auto;
}
#nav td{
    padding-right: 15px;
    padding-right: 15px;
    border-left: 2px solid black ;
    text-align: center;
}
#login{
    box-sizing: border-box;
    border-left: 3px solid rgb(85, 85, 252);
    width: 30%;
    background-color: white;
    float: left;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}
main table{
    
    font-size: 17px;
    letter-spacing: 1px;
    margin:auto;
    border:2px solid black;
    width: 100%;
}
main table td{
    background-color: rgba(255, 255, 255, 0.932);
    height: 40px;
}
main table th{
    background-color: rgb(85, 85, 252);
    color: white;
    height: 40px;
}
.edit, main a{
    border: 0;
    background-color: rgb(85, 85, 252);
    color: white;
    height: 25px;
    font-size: 18px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
main table td form{
    margin: 0;
}
#projekt_data{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 15px;
}
#projekt_data input{
    margin-left: 50px;
    margin-right: 50px;
}